@use "../abstracts/" as *;

.button {
    padding: $button-padding;
    border: $button-border;
    border-radius: $button-border-radius;
    color: $button-color;
    background-color: $button-background-color;

    &:where(:hover, :focus-within) {
        color: $button-color-hover;
        background-color: $button-background-color-hover;
    }

    a {
        color: $button-link-color;

        &:where(:hover, :focus-within) {
            color: $button-link-color-hover;
        }
    }
}