@use "colors" as *;
@use "sizes" as *; 
@use "typography" as *;

// Contextual properties
$border-radius-1: 0.5rem;
$border-radius-2: 1rem;
$border-radius-3: 1.5rem;
$border-radius-4: 2rem;

// Layout
$flex-gap-default: 1rem;
$grid-gap-default: 1rem;
$grid-min-column-size-default: null;

$container-max-width-default: 60rem;
$container-max-width-small: 40rem;
$container-max-width-large: 80rem;
$container-padding-inline: 2rem;

$inline-spacing: clamp(2rem, 5svw + 1rem, 4rem);
$block-spacing: clamp(4rem, 5svw + 2rem, 8rem);
$flow-spacing-default: 1em;

// Typography
$letter-spacing-default: 0.25em;
$letter-spacing-small: 0.125em;
$letter-spacing-large: 0.5em;

// Theme
$active-theme: "dark";

// Body
$body-font-family: var(--ff-body);
$body-font-weight: var(--fw-body);
$body-font-size: var(--fs-body);
$body-line-height: 1.7;
$body-color: hsl(var(--c-body));

$body-background-color: hsl(var(--bgc-body));

// General links
$body-link-font-weight: null;
$body-link-text-decoration: none;
$body-link-color: null;
$body-link-color-hover: null;

// Headings
$heading-font-family: null;
$heading-font-weight: var(--fw-heading);
$heading-line-height: 1.1;
$heading-text-transform: null;
$heading-color: hsl(var(--c-heading));

$heading-1-font-size: var(--fs-h1);
$heading-1-color: null;

$heading-2-font-size: var(--fs-h2);
$heading-2-color: null;

$heading-3-font-size: var(--fs-h3);
$heading-3-color: null;

$heading-4-font-size: null;
$heading-4-color: null;

// Navigation
$navigation-position: null;

$navigation-color: hsl(var(--c-navigation));
$navigation-link-color: null;
$navigation-link-color-hover: null;

$navigation-background-color: null;

$navigation-list-style: null;

// Cards
$card-padding: null;
$card-border: null;
$card-border-radius: $border-radius-1;

$card-color: null;

$card-background-color: hsl(var(--bgc-card));

// Buttons
$button-padding: null;
$button-border: null;
$button-border-radius: null;

$button-font-weight: null;
$button-font-size: null;
$button-color: null;
$button-color-hover: null;
$button-link-color: null;
$button-link-color-hover: null;

$button-background-color: null;
$button-background-color-hover: null;

// Forms
