@use "sizes" as *;

// Contextual font properties
$-ff-inter: #{"\"Inter\", sans-serif"};
$-ff-lexend-deca: #{"\"Lexend Deca\", sans-serif"};

// Default font weights
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-heavy: 900;

// Font map for generating font utility classes
$utility-font: (
    "family": (
        "lexend-deca": $-ff-lexend-deca,
        "inter": $-ff-inter,
    ),
);

// Font map for generating custom font properties
$contextual-font: (
    "family": (
        "body": $-ff-inter,
        "heading": $-ff-lexend-deca,
    ),
    "size": (
        "body": 0.9375rem,
        "heading-stat": 1.5rem,
    ),
    "weight": (
        "body": $font-weight-normal,
        "heading": $font-weight-bold,
    ),
);